/*rotate*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* indicator roller*/
@keyframes roller {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}

/*button click ripple*/
@keyframes ripple{
  0%{
    transform: scale(1);
    opacity: 0.4;
  }
  100%{
    transform: scale(20);
    opacity: 0;
  }
}