@charset "utf-8";
@import "variable.scss";

html,body{
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  background: $color_background;
  color: $color_text;
  font-size:0.59733rem; //(28px)
}